atomicwrites==1.4.0
attrs==21.2.0
behave==1.2.6
click==8.0.1
colorama==0.4.4
Flask==2.0.1
Flask-Cors==3.0.10
httplib2==0.19.1
iniconfig==1.1.1
itsdangerous==2.0.1
Jinja2==3.0.1
magicmock==0.3
MarkupSafe==2.0.1
packaging==20.9
parse==1.19.0
parse-type==0.5.2
pip==21.1.2
pluggy==0.13.1
psycopg2==2.8.6
py==1.10.0
pyparsing==2.4.7
pytest==6.2.4
selenium==3.141.0
setuptools==57.0.0
six==1.16.0
toml==0.10.2
urllib3==1.26.5
Werkzeug==2.0.1
